.first {
  width: 100vw;
  height: 100vh;
  background-image: url("frist.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 300px;
}
