:root {
  /* color */
  --color-blue01: #2379ff;
  --color-blue02: #002765;
  --color-blue03: #d8f3ff;

  /* 색상 정의 */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;

  /* 폰트 및 텍스트 스타일 */
  --font-srack: "Helvetica Neue", sans-serif;
  --font-size-normal: 16px;

  /* 여백 및 간격 */
  --base-padding: 1rem;
  --base-margin: 1rem;

  /* 테두리 */
  --border-radius: 8px;
  --border-color: #ccc;

  /* 그림자 */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* 전환 효과 */
  --transition-fast: 0.3s;
  --transition-normal: 0.5s;
}
