@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 80px;
  background-color: white;
  z-index: 1;
}

nav {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkBox {
  display: flex;
  gap: 20px;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}

.linkBox > span {
  padding: 12px 16px;
}

.linkBox > span:hover {
  background-color: #dbdbdb;
  border-radius: 30px;
  cursor: pointer;
}

.ably {
  color: #ff919b;
}
