.third {
  width: 100vw;
  margin-top: 100px;
}

.missionTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.missionTitle > h6 {
  font-size: 16px;
  color: #7f7f7f;

  font-family: "Pretendard-Regular";
  font-weight: bold;
}

.missionTitle > h4 {
  font-size: 32px;
  color: black;

  font-family: "Pretendard-Regular";
  font-weight: bold;
}

.missionCardArea {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.missionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 460px;
  height: 480px;

  padding-bottom: 200px;

  border-radius: 16px;
  background-size: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-top: 150px;
  color: white;
  font-family: "Pretendard-Regular";
}

.cardContent > .miniTit {
  font-size: 18px;
}

.cardContent > .mainTit {
  font-size: 32px;
  font-weight: bold;
}

.cardContent > .cardBtn {
  padding: 12px 16px;
  background-color: white;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.card11 {
  background-image: url("../card1.webp");
}

.card2 {
  background-image: url("../card2.webp");
}
