.box {
  display: flex;

  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.one {
  border: 1px solid pink;
  /* flex(자식) */
  flex: 1;
}

.two {
  border: 1px solid blue;
}

.three {
  border: 1px solid green;
}
