.box {
  display: flex;
  flex-direction: column;

  /* 주축으로 위치 선정해주기 */
  justify-content: center;

  /* 교차축으로 위치 선정해주기 */
  align-items: center;

  /* 자식들 사이에 gap 주기 */
  gap: 50px;

  width: 1000px;
  height: 1000px;
} 

.box > div {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: beige;
}

.tail {
  background-color: aqua;
}

.shy {
  background-color: aquamarine;
}
